@import "../../styles/colors";
@import "../../styles/variables";

.oc-search-bar {
  width: 100%;
  background-color: $oc-color-white;
  border: 1px solid $oc-color-support-lightgray;

  input {
    font-size: $oc-font-size-normal;
    border: none;
  }
  input[type="search"] {
    -webkit-appearance: searchfield;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  .btn.dynamic-search, .btn.dynamic-search:disabled {
    background: transparent;
    border: transparent;
    .fa {
      color: $oc-color-button-normal;
    }
  }
  input {
    &:focus {
      box-shadow: inset 0 0 0 3px $oc-color-primary-yellow;
    }
  }
  .btn {
    &:focus {
      outline: none;
      //border: none;
      //background-color: $oc-color-button-focused !important;
      //box-shadow: 0 0 0 1px $oc-color-white, 0 0 0 3px $oc-color-primary-yellow;
    }
  }
}
